.flows_ip-172-31-43-42.json.backup
[{"id":"8b557dd.8b2508","type":"tab","label":"aws_test","disabled":false,"info":""},{"id":"a8cda01e.1eca5","type":"tab","label":"apigateway","disabled":false,"info":""},{"id":"e7309252.f0ebf","type":"tab","label":"フロー 3","disabled":false,"info":""},{"id":"928e8773.7da9f8","type":"tab","label":"s3 test","disabled":false,"info":""},{"id":"95966861.82ccd8","type":"tab","label":"フロー 2","disabled":false,"info":""},{"id":"af4dfb04.b30648","type":"tab","label":"sensor_demo","disabled":false,"info":""},{"id":"296fbb43.71c284","type":"tab","label":"dynamoDB_test","disabled":false,"info":""},{"id":"53b8163.18311e8","type":"amazon config","name":"aws_nodered","region":"ap-northeast-1","proxyRequired":false,"proxy":""},{"id":"18799630.1b33ba","type":"aws-config"},{"id":"a246ce3b.3b6d6","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e9aa889e.4cbbc8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED ダッシュボード","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"YYYY/MM/DD","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"55544dec.40fb14","type":"ui_tab","name":"Board1","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"547fc1d1.ae35d","type":"ui_tab","name":"Picture","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7ba7df37.54eba","type":"ui_tab","name":"Tables","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"cb9cb409.4abac8","type":"ui_group","name":"Group 1","tab":"55544dec.40fb14","order":1,"disp":true,"width":6},{"id":"6c1083b8.eb50cc","type":"ui_group","name":"Group 2","tab":"55544dec.40fb14","order":2,"disp":true,"width":6},{"id":"d3608192.6c88a","type":"ui_group","name":"Group 1","tab":"7ba7df37.54eba","order":1,"disp":true,"width":15,"collapse":false},{"id":"381cd340.49777c","type":"ui_group","name":"Group 1","tab":"547fc1d1.ae35d","order":1,"disp":true,"width":6},{"id":"ab054051.aada1","type":"aws-sdk-config","name":"home_aws","accesskey":"AKIASZJ4DRXL5NEYRH7H","secretkey":"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","region":"ap-northeast-1","iamrole":true},{"id":"c8e6f9ed.e13558","type":"inject","z":"8b557dd.8b2508","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":540,"wires":[["3a79d561.96c17a","3f6173a5.88d32c"]]},{"id":"c9c8c01e.82a8c","type":"debug","z":"8b557dd.8b2508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":540,"wires":[]},{"id":"3a79d561.96c17a","type":"AWS Lambda","z":"8b557dd.8b2508","aws":"53b8163.18311e8","operation":"InvokeAsync","FunctionName":"miya_testfunc","StatementId":"","Action":"","Principal":"","Name":"","FunctionVersion":"","EventSourceArn":"","Runtime":"","Role":"","Handler":"","Code":"","UUID":"","InvokeArgs":"{\"key4\":\"test\",\"key5\":\"test6\"}","Resource":"","ReservedConcurrentExecutions":"","Tags":"","TagKeys":"","name":"fnc","x":330,"y":540,"wires":[["c9c8c01e.82a8c"],["c9c8c01e.82a8c"]]},{"id":"2ac4aa63.b33d56","type":"http request","z":"8b557dd.8b2508","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://kh1b04ysrl.execute-api.ap-northeast-1.amazonaws.com/posttest","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":260,"wires":[["b79c8061.c624a"]]},{"id":"c49cc5f8.8cfac8","type":"inject","z":"8b557dd.8b2508","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"test","payloadType":"str","x":150,"y":260,"wires":[["2ac4aa63.b33d56"]]},{"id":"b79c8061.c624a","type":"debug","z":"8b557dd.8b2508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":340,"wires":[]},{"id":"44065216.b6479c","type":"http in","z":"a8cda01e.1eca5","name":"","url":"/posttest","method":"post","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["b37667bc.9cdb28","43356c64.01f224"]]},{"id":"43356c64.01f224","type":"http response","z":"a8cda01e.1eca5","name":"","statusCode":"","headers":{},"x":550,"y":160,"wires":[]},{"id":"b37667bc.9cdb28","type":"debug","z":"a8cda01e.1eca5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":300,"wires":[]},{"id":"1d41b991.ece706","type":"http request","z":"a8cda01e.1eca5","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://gtljqwvh88.execute-api.ap-northeast-1.amazonaws.com","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":440,"wires":[["740eb7b4.5a00b8"]]},{"id":"9d568005.241c9","type":"inject","z":"a8cda01e.1eca5","name":"","props":[{"p":"payload"},{"p":"message","v":"fromNodeRed","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"fromNodeRed","payloadType":"str","x":210,"y":380,"wires":[["1d41b991.ece706"]]},{"id":"740eb7b4.5a00b8","type":"debug","z":"a8cda01e.1eca5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":520,"wires":[]},{"id":"9c25bff5.10511","type":"http in","z":"a8cda01e.1eca5","name":"","url":"/gettest2","method":"get","upload":false,"swaggerDoc":"","x":190,"y":40,"wires":[["f7fa3f77.4cadd","b37667bc.9cdb28"]]},{"id":"f7fa3f77.4cadd","type":"http response","z":"a8cda01e.1eca5","name":"","statusCode":"","headers":{},"x":540,"y":40,"wires":[]},{"id":"5564fdc1.c8eef4","type":"aedes broker","z":"e7309252.f0ebf","name":"","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":230,"y":120,"wires":[[]]},{"id":"1714b06c.77b29","type":"mqtt in","z":"e7309252.f0ebf","name":"","topic":"sensor","qos":"2","datatype":"auto","broker":"a246ce3b.3b6d6","x":190,"y":220,"wires":[["8e334c52.d5f1b"]]},{"id":"8e334c52.d5f1b","type":"debug","z":"e7309252.f0ebf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":360,"wires":[]},{"id":"3f6173a5.88d32c","type":"AWS Lambda","z":"8b557dd.8b2508","aws":"53b8163.18311e8","operation":"Invoke","FunctionName":"miya_testfunc","StatementId":"","Action":"","Principal":"","Name":"","FunctionVersion":"","EventSourceArn":"","Runtime":"","Role":"","Handler":"","Code":"","UUID":"","InvokeArgs":"{\"key4\":\"test\",\"key5\":\"test6\"}","Resource":"","ReservedConcurrentExecutions":"","Tags":"","TagKeys":"","name":"fnc","x":330,"y":600,"wires":[["c9c8c01e.82a8c"],[]]},{"id":"56c36553.773ecc","type":"comment","z":"a8cda01e.1eca5","name":"readme","info":"API Gatewayからの受信テスト","x":100,"y":100,"wires":[]},{"id":"629c3d65.9f86c4","type":"comment","z":"8b557dd.8b2508","name":"readme","info":"AWSのサービスを呼び出すテスト","x":120,"y":140,"wires":[]},{"id":"487cd1ee.cb2c8","type":"comment","z":"8b557dd.8b2508","name":"lambda","info":"","x":110,"y":480,"wires":[]},{"id":"46dac331.95c2bc","type":"AWS SNS","z":"8b557dd.8b2508","aws":"53b8163.18311e8","operation":"Publish","TopicArn":"","Label":"","AWSAccountId":"","ActionName":"","phoneNumber":"","Token":"","Name":"","Platform":"","Attributes":"","PlatformApplicationArn":"","EndpointArn":"","SubscriptionArn":"","Message":"Test","attributes":"","AttributeName":"","Protocol":"","name":"","x":350,"y":800,"wires":[[],[]]},{"id":"667631fe.c4995","type":"inject","z":"8b557dd.8b2508","name":"","props":[{"p":"TopicArn","v":"arn:aws:sns:ap-northeast-1:191788977623:test","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":720,"wires":[["46dac331.95c2bc"]]},{"id":"6fe4a3cd.f38a8c","type":"comment","z":"8b557dd.8b2508","name":"SNS","info":"","x":120,"y":680,"wires":[]},{"id":"6756fb29.c87584","type":"debug","z":"928e8773.7da9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":60,"wires":[]},{"id":"1b5adcd6.7bbf83","type":"inject","z":"928e8773.7da9f8","name":"","props":[{"p":"payload"},{"p":"bucket","v":"miyabucket2","vt":"str"},{"p":"region","v":"ap-northeast-1","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":200,"wires":[["f26e0dd.56fbef"]]},{"id":"f26e0dd.56fbef","type":"AWS S3","z":"928e8773.7da9f8","aws":"53b8163.18311e8","operation":"ListObjectsV2","Bucket":"miyabucket2","Key":"cannondalem.txt","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":230,"y":300,"wires":[["15c66127.173aff"],[]]},{"id":"fdedb821.f176c8","type":"ui_template","z":"928e8773.7da9f8","group":"381cd340.49777c","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<img src=\"https://miyabucket2.s3-ap-northeast-1.amazonaws.com/IMG_20190216_084702.jpg\">test</img>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":500,"y":560,"wires":[[]]},{"id":"15c66127.173aff","type":"function","z":"928e8773.7da9f8","name":"","func":"//https://miyabucket2.s3-ap-northeast-1.amazonaws.com/foldertest/IMG_20190216_085401.jpg\nvar bucketurl=\"https://\"+msg.bucket+\".s3-\"+msg.region+\".amazonaws.com/\"\nnode.warn(bucketurl);\n\n\nvar items = msg.payload.Contents;\nvar dat = items.filter( function(item,index){\n    if((item.Key).indexOf('.jpg')>0) return true;\n});\n\ndat2=[]\nfor(var cc of dat)\n{\n    url={\"url\":\"<img src=\\\"\"+bucketurl+cc.Key+\"\\\"></img>\",\n        \"key\":bucketurl+cc.Key\n    };\n    dat2.push(url)\n    \n}\n\nnode.warn(dat2);\n\nmsg.payload=dat2;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["2fa6251e.216b8a","965a990.aec9268"]]},{"id":"2fa6251e.216b8a","type":"ui_table","z":"928e8773.7da9f8","group":"d3608192.6c88a","name":"","order":1,"width":"8","height":6,"columns":[{"field":"url","title":"url","width":"","align":"left","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"key","title":"key","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":650,"y":480,"wires":[]},{"id":"82a29426.029608","type":"image","z":"928e8773.7da9f8","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":700,"y":800,"wires":[]},{"id":"19a64c44.b8b584","type":"inject","z":"928e8773.7da9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":700,"wires":[["6cb0f5fa.446adc"]]},{"id":"6cb0f5fa.446adc","type":"AWS S3","z":"928e8773.7da9f8","aws":"53b8163.18311e8","operation":"GetObject","Bucket":"miyabucket2","Key":"IMG_20190216_084702.jpg","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":360,"y":640,"wires":[["4eb09a2b.8fca24"],[]]},{"id":"4eb09a2b.8fca24","type":"function","z":"928e8773.7da9f8","name":"","func":"msg.payload=msg.payload.Body;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":720,"wires":[["82a29426.029608"]]},{"id":"1dfcb3f4.98ae3c","type":"inject","z":"928e8773.7da9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":500,"wires":[["fdedb821.f176c8"]]},{"id":"5732246.79ceadc","type":"AWS S3","z":"928e8773.7da9f8","aws":"53b8163.18311e8","operation":"GetObject","Bucket":"miyabucket2","Key":"cannondalem.txt","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":800,"y":300,"wires":[["ae1d5681.ef4d98"],[]]},{"id":"b4910a3d.bbbcc8","type":"inject","z":"928e8773.7da9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":540,"y":200,"wires":[["5732246.79ceadc"]]},{"id":"ae1d5681.ef4d98","type":"debug","z":"928e8773.7da9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":360,"wires":[]},{"id":"d0ef09b3.0ea878","type":"inject","z":"928e8773.7da9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":170,"y":960,"wires":[["23d2524f.ab942e"]]},{"id":"23d2524f.ab942e","type":"ui_digital_display","z":"928e8773.7da9f8","name":"","group":"cb9cb409.4abac8","order":1,"width":0,"height":0,"digits":5,"decimals":1,"x":420,"y":1080,"wires":[]},{"id":"983fe6d2.13b318","type":"ui_led","z":"928e8773.7da9f8","group":"cb9cb409.4abac8","order":1,"width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"","x":630,"y":1000,"wires":[]},{"id":"b0a56b41.293a08","type":"inject","z":"928e8773.7da9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":420,"y":900,"wires":[["983fe6d2.13b318"]]},{"id":"965a990.aec9268","type":"debug","z":"928e8773.7da9f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"83eb1ff4.1df18","type":"inject","z":"928e8773.7da9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":60,"wires":[["a18e41c4.3bdd8"]]},{"id":"a18e41c4.3bdd8","type":"AWS S3","z":"928e8773.7da9f8","aws":"53b8163.18311e8","operation":"CreateBucket","Bucket":"testmake123456japantest","Key":"","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":390,"y":60,"wires":[["6756fb29.c87584"],[]]},{"id":"86056047.bed96","type":"AWS S3","z":"928e8773.7da9f8","aws":"53b8163.18311e8","operation":"GetObject","Bucket":"miyabucket2","Key":"IMG_20190216_084702.jpg","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":360,"y":820,"wires":[[],[]]},{"id":"119353ef.92bf6c","type":"AWS S3","z":"95966861.82ccd8","aws":"53b8163.18311e8","operation":"ListBuckets","Bucket":"","Key":"","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":260,"y":200,"wires":[["6cc7ad5b.65d0d4"],[]]},{"id":"30852969.d01c96","type":"inject","z":"95966861.82ccd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":100,"wires":[["119353ef.92bf6c"]]},{"id":"9d78e5ce.884178","type":"debug","z":"95966861.82ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"920704a.e9467f8","type":"inject","z":"95966861.82ccd8","name":"","props":[{"p":"payload"},{"p":"topic","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"a1\":123,\"b1\":234,\"c2\":345}","payloadType":"json","x":110,"y":660,"wires":[["4990a9a5.4b0b38"]]},{"id":"d5ea2c3d.e3873","type":"function","z":"95966861.82ccd8","name":"","func":"node.warn(msg.index)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":800,"wires":[[]]},{"id":"4990a9a5.4b0b38","type":"split","z":"95966861.82ccd8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":320,"y":700,"wires":[["4a3386b3.27c948"]]},{"id":"4a3386b3.27c948","type":"debug","z":"95966861.82ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":760,"wires":[]},{"id":"fa9f5272.ab483","type":"split","z":"95966861.82ccd8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":410,"y":340,"wires":[["4d42e2c0.a0943c"]]},{"id":"fe47667c.2ff0b8","type":"AWS S3","z":"95966861.82ccd8","aws":"53b8163.18311e8","operation":"ListObjectsV2","Bucket":"","Key":"","UploadId":"","CopySource":"","Id":"","Delete":"","AccelerateConfiguration":"","AnalyticsConfiguration":"","CORSConfiguration":"","ServerSideEncryptionConfiguration":"","InventoryConfiguration":"","BucketLoggingStatus":"","MetricsConfiguration":"","NotificationConfiguration":"","Policy":"","ReplicationConfiguration":"","RequestPaymentConfiguration":"","Tagging":"","VersioningConfiguration":"","WebsiteConfiguration":"","Expression":"","ExpressionType":"","InputSerialization":"","OutputSerialization":"","PartNumber":"","name":"","x":650,"y":460,"wires":[[],[]]},{"id":"4d42e2c0.a0943c","type":"change","z":"95966861.82ccd8","name":"","rules":[{"t":"set","p":"bucket","pt":"msg","to":"payload.Name","tot":"msg"},{"t":"set","p":"params.bucket","pt":"msg","to":"payload.Name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":420,"wires":[["9d78e5ce.884178"]]},{"id":"6cc7ad5b.65d0d4","type":"change","z":"95966861.82ccd8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Buckets","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[["fa9f5272.ab483"]]},{"id":"c6030860.864748","type":"inject","z":"95966861.82ccd8","name":"","props":[{"p":"params.Bucket","v":"miyabucket2","vt":"str"},{"p":"params.bucket","v":"miyabucket2","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":430,"y":500,"wires":[["fe47667c.2ff0b8"]]},{"id":"47f54fb8.d329a","type":"http in","z":"af4dfb04.b30648","name":"","url":"/monitor","method":"post","upload":false,"swaggerDoc":"","x":230,"y":100,"wires":[["39148615.e1916a","ede8edcb.bd9af","d61a55e5.f83e08"]]},{"id":"a0d9a8e5.e9a008","type":"http in","z":"af4dfb04.b30648","name":"","url":"/sensor","method":"post","upload":false,"swaggerDoc":"","x":230,"y":240,"wires":[["a821f9e4.5ff148","ae872d58.810f8","8c4aa12d.51321"]]},{"id":"39148615.e1916a","type":"debug","z":"af4dfb04.b30648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"a821f9e4.5ff148","type":"debug","z":"af4dfb04.b30648","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":540,"wires":[]},{"id":"ede8edcb.bd9af","type":"http response","z":"af4dfb04.b30648","name":"","statusCode":"","headers":{},"x":480,"y":100,"wires":[]},{"id":"ae872d58.810f8","type":"http response","z":"af4dfb04.b30648","name":"","statusCode":"","headers":{},"x":470,"y":460,"wires":[]},{"id":"c7d671bf.32645","type":"inject","z":"296fbb43.71c284","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"from buffer","payloadType":"str","x":110,"y":140,"wires":[["399d22f1.e869ce"]]},{"id":"399d22f1.e869ce","type":"aws sdk","z":"296fbb43.71c284","name":"dynamo","func":"var dynamodb = new AWS.DynamoDB({apiVersion: '2012-08-10'});\n\nvar params = {\n  Item: {\n   \"id\": {\n     S: \"fromNode2\"\n    },\n    \"val\":{\n        S:\"test\"\n    }\n  }, \n  TableName: \"miya_table1\"\n };\n dynamodb.putItem(params, function(err, data) {\n   if (err) console.log(err, err.stack); // an error occurred\n   else     console.log(data);           // successful response\n   /*\n   data = {\n    ConsumedCapacity: {\n     CapacityUnits: 1, \n     TableName: \"Music\"\n    }\n   }\n   */\n });\n\nreturn msg;\n","outputs":1,"noerr":0,"config":"ab054051.aada1","x":340,"y":220,"wires":[["6d33d774.0e4068"]]},{"id":"6d33d774.0e4068","type":"debug","z":"296fbb43.71c284","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":320,"wires":[]},{"id":"83251ebb.2c4c6","type":"comment","z":"296fbb43.71c284","name":"table put","info":"","x":340,"y":140,"wires":[]},{"id":"d78d8a2c.3491a8","type":"aws sdk","z":"296fbb43.71c284","name":"","func":"var dynamodb = new AWS.DynamoDB({apiVersion: '2012-08-10'});\n\n var params = {\n  Key: {\n   \"id\": {\n     S: \"fromNode\"\n    }\n  }, \n  TableName: \"miya_table1\"\n };\n dynamodb.getItem(params, function(err, data) {\n   if (err) \n   {\n       console.log(err, err.stack); // an error occurred\n   }\n   else\n   {\n       console.log(data);\n       node.warn(data);\n   }           // successful response\n   /*\n   data = {\n    Item: {\n     \"AlbumTitle\": {\n       S: \"Songs About Life\"\n      }, \n     \"Artist\": {\n       S: \"Acme Band\"\n      }, \n     \"SongTitle\": {\n       S: \"Happy Day\"\n      }\n    }\n   }\n   */\n });","outputs":1,"noerr":0,"config":"ab054051.aada1","x":340,"y":360,"wires":[["6d33d774.0e4068"]]},{"id":"bcb099b8.f6ff18","type":"inject","z":"296fbb43.71c284","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":320,"wires":[["d78d8a2c.3491a8"]]},{"id":"53ddfe30.b890c","type":"comment","z":"af4dfb04.b30648","name":"readme","info":"IBM cloudからダミーデータを受信\napi gateway 経由\n","x":120,"y":40,"wires":[]},{"id":"8c4aa12d.51321","type":"aws sdk","z":"af4dfb04.b30648","name":"dynamo_put","func":"var dynamodb = new AWS.DynamoDB({apiVersion: '2012-08-10'});\nvar time=msg.payload.time;\nvar city=msg.payload.city;\nvar val = msg.payload.temp;\n\nvar params = {\n  Item: {\n   \"pref\": {\n     S: city\n    },\n    \"time\":{\n        S:time\n    }\n  }, \n  TableName: \"miya_sensors\"\n };\n node.warn(params)\n dynamodb.putItem(params, function(err, data) {\n   if (err) {\n       console.log(err, err.stack); // an error occurred\n       node.error(err);\n   }\n   else\n   {\n       console.log(data);           // successful response\n   }/*\n   data = {\n    ConsumedCapacity: {\n     CapacityUnits: 1, \n     TableName: \"Music\"\n    }\n   }\n   */\n });\n\nreturn msg;\n","outputs":1,"noerr":0,"config":"ab054051.aada1","x":490,"y":380,"wires":[["285d2822.551558"]]},{"id":"d61a55e5.f83e08","type":"aws sdk","z":"af4dfb04.b30648","name":"dynamo_put","func":"var dynamodb = new AWS.DynamoDB({apiVersion: '2012-08-10'});\nvar city=msg.payload.city;\nvar val = msg.payload.monitor;\n\nvar params = {\n  Item: {\n   \"pref\": {\n     S: city\n    },\n    \"monitor\":{\n        BOOL:val\n    }\n  }, \n  TableName: \"miya_monitor\"\n };\n dynamodb.putItem(params, function(err, data) {\n   if (err) console.log(err, err.stack); // an error occurred\n   else     console.log(data);           // successful response\n   /*\n   data = {\n    ConsumedCapacity: {\n     CapacityUnits: 1, \n     TableName: \"Music\"\n    }\n   }\n   */\n });\n\nreturn msg;\n","outputs":1,"noerr":0,"config":"ab054051.aada1","x":490,"y":220,"wires":[[]]},{"id":"285d2822.551558","type":"debug","z":"af4dfb04.b30648","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":200,"wires":[]}]